$main-color-dark: #002e34;

.productLink {
  width: 250px;
  .productCard {
    border-radius: 5px !important;
    overflow: hidden !important;
    img {
      width: 100% !important;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
    h3 {
      word-break: break-word;
      font-size: 16px;
      text-align: left;
      margin-top: 20px;
      color: $main-color-dark;
    }
  }
}

.allProductMainDiv {
  margin-top: 50px;
  h2 {
    font-size: 24px;
    margin: 15px;
    color: rgb(81, 110, 110);
  }
}
